<div class="container">
<!--     <div id="ver_sidebar" (click)="verSidebarra()">
      <img src="assets\logo.png" alt="Logo">
    </div> -->
    <div *ngIf=verSidebar class="sidebar">
        <div class="selector">
            <svg routerLink="" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor"
                d="M67.84 92.61L25.37 128l42.47 35.39a6 6 0 1 1-7.68 9.22l-48-40a6 6 0 0 1 0-9.22l48-40a6 6 0 0 1 7.68 9.22Zm176 30.78l-48-40a6 6 0 1 0-7.68 9.22L230.63 128l-42.47 35.39a6 6 0 1 0 7.68 9.22l48-40a6 6 0 0 0 0-9.22Zm-81.79-89a6 6 0 0 0-7.69 3.61l-64 176a6 6 0 0 0 3.64 7.64a6.15 6.15 0 0 0 2 .36a6 6 0 0 0 5.64-3.95l64-176a6 6 0 0 0-3.59-7.69Z" />
            </svg>
            <a routerLink=""> History </a>
          </div>
      
    </div>
    <div class="main-content">
      <h1>Welcome to ipsCalc</h1>
      <button #abrirModal>New Simulation</button>
      <div class="calculation-history">
        <h3>Calculation History</h3>
            <div class="selector">
              <svg routerLink="" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor"
                  d="M67.84 92.61L25.37 128l42.47 35.39a6 6 0 1 1-7.68 9.22l-48-40a6 6 0 0 1 0-9.22l48-40a6 6 0 0 1 7.68 9.22Zm176 30.78l-48-40a6 6 0 1 0-7.68 9.22L230.63 128l-42.47 35.39a6 6 0 1 0 7.68 9.22l48-40a6 6 0 0 0 0-9.22Zm-81.79-89a6 6 0 0 0-7.69 3.61l-64 176a6 6 0 0 0 3.64 7.64a6.15 6.15 0 0 0 2 .36a6 6 0 0 0 5.64-3.95l64-176a6 6 0 0 0-3.59-7.69Z" />
              </svg>
              <a routerLink=""> History 1</a>
            </div>
            <hr>
            <div class="selector">
              <svg routerLink="" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor"
                  d="M67.84 92.61L25.37 128l42.47 35.39a6 6 0 1 1-7.68 9.22l-48-40a6 6 0 0 1 0-9.22l48-40a6 6 0 0 1 7.68 9.22Zm176 30.78l-48-40a6 6 0 1 0-7.68 9.22L230.63 128l-42.47 35.39a6 6 0 1 0 7.68 9.22l48-40a6 6 0 0 0 0-9.22Zm-81.79-89a6 6 0 0 0-7.69 3.61l-64 176a6 6 0 0 0 3.64 7.64a6.15 6.15 0 0 0 2 .36a6 6 0 0 0 5.64-3.95l64-176a6 6 0 0 0-3.59-7.69Z" />
              </svg>
              <a routerLink=""> History 2</a>
              
            </div>
            <hr>
            <div class="selector">
              <svg routerLink="" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor"
                  d="M67.84 92.61L25.37 128l42.47 35.39a6 6 0 1 1-7.68 9.22l-48-40a6 6 0 0 1 0-9.22l48-40a6 6 0 0 1 7.68 9.22Zm176 30.78l-48-40a6 6 0 1 0-7.68 9.22L230.63 128l-42.47 35.39a6 6 0 1 0 7.68 9.22l48-40a6 6 0 0 0 0-9.22Zm-81.79-89a6 6 0 0 0-7.69 3.61l-64 176a6 6 0 0 0 3.64 7.64a6.15 6.15 0 0 0 2 .36a6 6 0 0 0 5.64-3.95l64-176a6 6 0 0 0-3.59-7.69Z" />
              </svg>
              <a routerLink=""> History 3</a>
              
            </div>
            <hr>
        <!--  historial de cálculos -->
      </div>
    </div>
  </div>


  <!-- Ventana modal -->
<div #miModal class="modal">
  
  <div class="modal-contenido">
    <span class="cerrarModal" id = "cerrarModal" (click)="cancelarCalculo()">&times;</span>
    <p>Nombre del proyecto:</p>
    <form class="form" [formGroup]="formGroup" >
    
    
   
    <input type="text" id="nombreProyecto" placeholder="Enter the name of project" formControlName="nombreProyecto">
    <div class="botones">
        
        <button id="cancel" (click)="cancelarCalculo()">Cancelar</button>
        <button id="continue"   (click)="continuarCalculo()" [disabled]="!formGroup.valid">Continuar</button>
    </div>
    </form>
  </div>
</div>