*{
  font-family: 'Poppins', sans-serif;

}

.seccion {
    /*width: auto;*/
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
  }
  
  form {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    /*width: 50%;*/
    padding:20px;
    width: -webkit-fill-available;
  }

  form label{
    font-size: 11px;

  }

  form input{
    margin: 3px;
    padding:0px;
    padding-left: 4px;
    border: none;
    border-bottom: 1px solid black;
  }

  
  
  .div_secciones{
    margin-top: 5px;
    background-color:#F4F4F4 ;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
   }

  #load_based_binary_code{
    margin-left: 5px;
  }
  
  
   .loader {
    align-self: center;
    width: 48px;
    height: 8px;
    -webkit-mask: linear-gradient(90deg,#000 70%,#0000 0) left/20% 100%;
    background:
    linear-gradient(#000 0 0) left -25% top 0 /20% 100% no-repeat
    #ddd;
    animation: l7 1s infinite steps(6);
  }
  @keyframes l7 {
      100% {background-position: right -25% top 0}
  }


  button {
    width: auto;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: transform .2s ;
  }

  button:active{
    
    background-color: rgb(31, 29, 29);
    transform: scale(0.98); 
    
  }

  button:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
  }

  .div_secciones button{
    margin-top: 3px;
    margin-bottom: 3px;
    
  }


  .div_secciones a{
    text-decoration-line: underline;
    font-weight: bold;
    cursor: pointer;
  }

  .botones_default{
    display: flex;
    flex-direction: row;
    align-items: right;
  }

  .botones_principales{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .botones_principales button{
    width: 130px;
    
  }

  .disabled-link {
    pointer-events: none;
    cursor: default;
    /* Opcional: Cambia el estilo visual para indicar que está deshabilitado */
    color: gray;
    text-decoration: none;
}

[readonly] {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #f5f5f5;
  color: #232323;
  
}

.disabled-link {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #f5f5f5;
  color: #232323;
  
}

input[type="text"] {
  width: 30%;
  max-width: 120px;
 
}

.coordenadas{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.coordenadas{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.item_coordenada input {
  width: 40%;
}

.item_emmit{
  font-size: 14px;
  font-weight: bold;
  /* margin-right:10px; */
  margin-left: 20%;
}


select{
  min-width: 70px;  
  margin-left: 5px;
}


.grafico{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  overflow-x: scroll; /* Permite el desplazamiento horizontal */
  width: 100%; /* Ajusta el ancho del div al 100% */
}

.grafico_modulada{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-x: scroll; /* Permite el desplazamiento horizontal */
  width: 100%; /* Ajusta el ancho del div al 100% */
}

.muestraSpinner{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center
}

.spinner{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center
}

.boton-lapiz {
 
    margin-left: 15px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    color: #aaa;
}

.boton-lapiz:hover {
  color: #000;
}


@media only screen and (max-width: 1060px) {
  .item_emmit {
  margin-left: 10%;
  
  }

}

@media only screen and (max-width: 760px) {
  .item_emmit {
  margin-left: 5%;
  
  }

}

@media only screen and (max-width: 680px) {
  .item_emmit {
  margin-left: 0%;
  
  }

}
