<!-- <div class="contenedor">
    <router-outlet></router-outlet>
  </div> -->

   <div class="contenedor" > <!-- Agregar el evento de scroll -->
    
    <!-- <app-sidebar></app-sidebar> -->
    <div class="contenido">
      <!-- <router-outlet></router-outlet> -->
      <div id="section2" >
        <app-seccion2 id="seccion2"></app-seccion2>   <!-- TODO ME FALTA PONER ACA LAS SECCIONES POR SEPARADO Y COMPARTIR VARIABLES U OBSERVABLES -->
                                                      <!-- TODO ADEMAS DEBO PONER LA VARIABLE QUE IDENTIFIQUE CUANDO SE ESTA ACCEDIENDO A UNA SESION GUARDADA -->
      </div>
    </div>
  </div>